<div class="form-group col-xs-12 col-md-offset-3 col-md-6">

	<form method="post" action="/rsvpresponse">
	  <input type="hidden" value="<%= code %>" name="invitecode" id="invitecode" />
	  <input type="hidden" value="<%= previousresponse %>" id="previousresponse" />
	  <h3 class="col-xs-12 text-center"><%= name %></h3>
	<br />
	<% if error.to_s != '' %>
	  <div class="col-xs-12">
	  <div class="alert alert-warning" role="alert"> 
	    <strong>Oops!</strong> <%= error %> </div>
	  </div>
	<% end  %>
	<br />
	  <div class="form-group">
	    <label class="col-xs-12">RSVP</label>
		<div class="col-xs-12">
		    <select id="response" name="response" class="form-control">
			<option value="yes">Can't wait!</option>
			<option value="no">Will be there in spirit..</option>
		    </select>
		</div>
	  </div>

	  <div class="form-group">
	    <label class="col-xs-12">I promise to dance if you play..</label>
		<div class="col-xs-12">
	    		<input type="text" id="songrequest" name="songrequest" class="form-control" value="<%=songrequest%>"/>
		</div>
	  </div>

	  <div class="form-group">
	    <label class="col-xs-12">Dietary Requirements?</label>
		<div class="col-xs-12">
	    		<input type="text" name="dietaryrequirements" id="dietaryrequirements" class="form-control" value = "<%=dietary%>"/>
		</div>
	  </div>
	  <div class="form-group col-xs-12 text-right">
	    <button type="submit" class="btn btn-primary">RSVP</button>
	  </div>
	</form>

</div>

<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function() {
		var previousResponse = document.getElementById("previousresponse");
		if(previousResponse.value == 'false'){
			document.getElementById('response').value='no';			
		}
		else{
			document.getElementById('response').value='yes';			
		}
	});
</script>
